body {
  background: #efe;
}

.container {
  background: white;
  padding: 1em 2em;
}

button {
  background: #aaa;
  color: white;
  border-style: none;
  border-radius: 2em;
  padding: .5em 1em;
}

button:active {
  background: #999;
}

img {
  width: 100%;
}

p {
  font-style: serif;
}

footer {
  text-align: center;
}
