body {
  background: white;
  font-family: serif;
}

.container {
  background: white;
  padding: 1em 2em;
}

h1, h2, h3 {
  font-family: sans-serif;
}

button {
  background: #aaa;
  color: white;
  border-style: none;
  border-radius: 2em;
  padding: .5em 1em;
  font-family: sans-serif;
}

button:hover {
  cursor: pointer;
}

button:active {
  background: #999;
}

img {
  width: 100%;
}

p {
  font-family: serif;
}

footer {
  text-align: center;
}
