body {
  background: white;
  font-family: serif;
}

h1, h2, h3, h4 {
  font-family: sans-serif;
}

h2 {
  font-weight: 600;
}

h3.price {
  font-weight: 300;
}

header {
    box-sizing: content-box;
    background: #f8f9fa!important;
    border-bottom: solid #aaa .1rem;
}

.other-item {
  text-align: center;
  padding-top: 1rem;
}

.other-item-price {
  text-align: center;
}

.container {
  background: white;
  padding-left: 0;
  padding-right: 0;
}

.row {
  padding-top: 1rem;
}

.row.sale-item {
    padding-top: 2rem;
}

img {
  width: 100%;
}

p {
  font-family: serif;
}


button {
  background: #aaa;
  color: white;
  border-style: none;
  border-radius: 2em;
  padding: .5em 1em;
  font-family: sans-serif;
}

button:hover {
  cursor: pointer;
}

button:active {
  background: #999;
}

footer {
  text-align: center;
}
